<!DOCTYPE html>
<html>
  <head>
    <title>HoM.e Family Event Planner!</title>
    <!-- Google Icon Fonts used by Materialize -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <!-- JavaScript for Materialize -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <h1>Login to your Family Profile!</h1>
    <br>
    <form method="GET" action="/homevents/index">

        <input type="submit" action="/auth/google/" value="Login">
      </p>
    </form>
  </body>
</html>
