<%- include('../partials/header') %>
<body>
    <table id="list">
        <thead>
          <tr>
            <th>Title</th>
            <th>Release<br>Year</th>
            <th></th>
          </tr>
        </thead>
       
          <a href="/homevents/new" <%- title === 'Add Event' ? 'class="active"' : '' %>>ADD EVENT!</a>

        </table>
</body>
<%- include('../partials/footer') %>
