<%- include('../partials/header') %>
<body>
  <section class=eventsList>
    <table id="list">
        <thead>
          <tr>
            <th>Date</th>
            <th>Location</th>
            <th>Event<br>Type</th>
            <th></th>
          </tr>
        </thead>
      <br>
        </table>
  </section>
</body>
<%- include('../partials/footer') %>
