<body>
<h1>These is the mf locations!</h1>
<%= eventLocation[0].name %>
<%= eventLocation[0].location.address1 %>
<img src="<%= eventLocation[0].image_url %>" alt="">
<%= eventLocation[0].is_closed %>
</body>

