
<form id="new-form" action="/homevents/new" method="POST">
    <label>Who<br>(go back and refactor for performers):</label>
    <input type="text" name="who">
    <label>Event Type: </label>
    <select name="mpaaRating">
        <option value="Breakfast">Breakfast</option>
        <option value="Lunch">Lunch</option>
        <option value="Dinner">Dinner</option>
        <option value="Coffee/Drinks">Coffee/Drinks</option>
        <option value="Activity">Activity</option>
        <option value="Trip">Trip</option>
    </select>
    <label>Location</label>
    <select name="Location">
      <option value="Irvine">Irvine</option>
      <option value="Fort Worth">Fort Worth</option>
      <option value="Los Angeles">Los Angeles</option>
      <option value="Austin">Austin</option>
    </select>
    <label>I'm attending: </label>
    <input type="checkbox" name="nowShowing" checked>
    <input type="submit" value="Add Event">
  </form>

