<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Hom.e Add Event</title>
</head>
<body>
<nav>
        <img class="home" src="https://i.imgur.com/2idW9C3.jpg">
        <br>
        <a href="/homevents" <%- title === 'Home' ? 'class="active"' : '' %>>HOME</a>
</nav>
    <section class="addEvent">
<form id="new-form" action="/yelpSearch" method="POST">
    <label>Who<br>(go back and refactor for performers):</label>
    <input type="text" name="who">
    <label>Event Type: </label>
    <select name="what">
        <option value="Breakfast">Breakfast</option>
        <option value="Lunch">Lunch</option>
        <option value="Dinner">Dinner</option>
        <option value="Coffee/Drinks">Coffee/Drinks</option>
        <option value="Activity">Activity</option>
        <option value="Trip">Trip</option>
    </select>
    <label>Event City</label>
    <select name="where">
      <option value="Irvine">Irvine</option>
      <option value="Fort Worth">Fort Worth</option>
      <option value="Los Angeles">Los Angeles</option>
      <option value="Austin">Austin</option>
    </select>
    <input type="submit" value="Find Location">
    <label>Event Date/Time</label>
    <input type="datetime-local" name="when">
    <label>I'm attending: </label>
    <input type="checkbox" name="nowShowing" checked>
  </form>
</section>
</body>
</html>