<%- include('../partials/header') %>
<body>
<table id="list">
        <thead>
            <tr>
            <th>Event<br>Date</th>
            <th>Event<br>Location</th>
            <th>Event<br>Type</th>
            <th>Event<br>Organizer</th>
            </tr>
            <br>
            <tr>
            <th>Event<br>Atendees</th>
            <th>Event<br>Notes</th>
            </tr>
            
        </thead>
        <tbody>
            <hr/>
        </tbody>
        <form id="comments" 
        <input type="text">
        </form>
    </table>
    <img src="https://skeptoid.com/eps1200x744/4330.jpg"><img src="https://skeptoid.com/eps1200x744/4330.jpg">
</body>
<%- include('../partials/footer') %>
