body {
  padding: 50px;
  font-size: 24px;
  font-family: 'Georgia, serif';
  background-color: #ebd5b3;
}

a {
  font-size: 20px;
  color: rgb(0, 136, 255);
  font-weight: bold;
}

.home {
  height: 40px;
  width: 40px;
  font-size: 20px;
}

.nav {
  float: right;
  flex-direction: row-reverse;
  font-size: 20px;
  font-weight: bold;
  grid-area: nav;  
  color: #ebd5b3;
  align-items: center;
  padding: 0 30px 0 30px;
}
#list {
  width: 650px;
}

#new-form {
  grid-column: span 2;
  width: 10rem;
  position: center;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  display: grid;
  grid-gap: 10px;
}

.resPic {
  height: 15%;
  width: 15%;
}

input {
  height: 40px;
  width: 200px;
}

#user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: MAROON;
  height: 250px;
  border-radius: 5px;
}

.homeventsList {
  /* display: flex;
  justify-content: space-evenly; */
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
}

.circlePic {
  content: ' \25CF';
  font-size: 80px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.homBut{
  display: flex;
  flex-direction: column-reverse;
}

#userProfile {
  text-align: center;
  color: white;
  font-size: 24px;
  font-family: "Papyrus";
}

#uName {
font-size: 36px;
}